$def with (robot_rank, edge_rank)
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/image/favicon.ico">

  <title>Reports</title>

  <!-- 样式引用 -->
  <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/static/css/dashboard.css" rel="stylesheet">
</head>

<body>

  <!-- 顶部导航 -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">SNS ROBOT</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Help</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
    </div>
  </nav>

  <!-- 左侧导航 -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><a href="/">Overview</a></li>
          <li class="active"><a href="#">Data Reports<span class="sr-only">(current)</span></a></li>
          <li><a href="/forcedirected">Force Directed Graph</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="">Analytics</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="">Import</a></li>
          <li><a href="">Export</a></li>
        </ul>
      </div>



      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">SNS Reports</h1>
<!--

        <div class="row placeholders">
          <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
          </div>
        </div>
-->

        <h2 class="sub-header">Robot Rank - Top 100</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Robot ID</th>
                <th>Robot Name</th>
                <th>Password</th>
                <th>Group</th>
                <th>Rank</th>
              </tr>
            </thead>
            <tbody>
            $for user in robot_rank:
              <tr>
                <td>$loop.index</td>
                <td>$user["_id"]</td>
                <td>$user["username"]</td>
                <td>$user["password"]</td>
                <td>$user["group"]</td>
                <td>$user["rank"]</td>
              </tr>
            </tbody>
          </table>
        </div>

        <h2 class="sub-header">Edge Rank - Top 100</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Source Robot ID</th>
                <th>Target Robot ID</th>
                <th>Weight</th>
              </tr>
            </thead>
            <tbody>
            $for edge in edge_rank:
              <tr>
                <td>$loop.index</td>
                <td>$edge["source"]</td>
                <td>$edge["target"]</td>
                <td>$edge["weight"]</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

  <!-- 版权信息 -->
  <hr>
  <footer>
    <p>&copy; Company 2015</p>
  </footer>

  <!-- 库引用 -->
  <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
